.storybook-button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  margin: 0.5rem;
  white-space: nowrap;

  &:hover {
    color: #213547;
    transform: scale(1.05);
    transition: .3s ease-in-out;
  }
}
.storybook-button--primary {
  color: white;
  background-color: #ff6f61;
  outline: solid;
  outline-color: #ff6f61;
}
.storybook-button--secondary {
  color: #ff6f61;
  background-color: #ffffff;
  outline: solid;
  outline-color: #ff6f61;
}
.storybook-button--small {
  font-size: 0.9rem;
  padding: 0.9rem 0.9rem;
}
.storybook-button--medium {
  font-size: 1.1rem;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 1.3rem;
  padding: 12px 24px;
}
